<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Tutoree</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="position-sticky pt-3">
                <%= render 'layouts/sidebar' %>
            </div>
        </nav>
        <main class="col-md-10 px-md-2" >
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3" style="color:white;">
                <h1 class="h2">PROFILE</h1> 
            </div>
            <div class="container py-2" > 
                <div class="row">       
                    <div class="col-3" style="color:white;">
                        <p>
                            <strong>ID:</strong>
                            <%= @user._id %>
                        </p>
                        <p>
                            <strong>NAME:</strong>
                            <% if @user.type == 'tutor' %>
                                <%= @user.tutors.first_name %> <%= @user.tutors.last_name %> 

                            <% elsif @user.type == 'tutee' %>
                                <%= @user.tutees.first_name %> <%= @user.tutees.last_name %>
                            <%end%>
                        </p>
                        <p>
                            <strong>Contact:</strong>
                            <%= @user.email_address%>
                            <%= @user.contact_number %>
                        </p>
                        <% if @user.is_activated == false &&  User.find(session[:user_id]).type == "admin"%>
                            <a href="<%= @user._id %>/approve" class="btn btn-outline-primary">Approve</a>
                        <%end%>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>